header {
    border: 1px solid red;
}
main {
    border: 1px solid red;
}
.Bestsellers-Section {
    border: 3px solid orange;
    padding: 124px 80px;
}
.ul-nav {
    border: 1px solid green;
    padding-top: 65px; padding-bottom: 65px;
    display: flex; justify-content: space-between;
}
.Bestsellers {
    border: 1px solid blue;
}
.View-All {
    border: 1px solid blue;
}
.amp-swiper {
    border: 1px solid green;
    display: flex;
}
.best-produst-list01 {border: 3px solid red;}
.best-produst-list02 {border: 3px solid rgb(93, 3, 3);}
.best-produst-list03 {border: 3px solid rgb(248, 165, 165);}
.best-produst-list04 {border: 3px solid rgb(54, 50, 50);}
footer {
    border: 1px solid red;
}