h2 {
    color: #000;
    font-size: 60px;
    font-weight: 200; /* 폰트 웨이트: 글자의 두께 */
    line-height: 60px; /* 라인 하이트: 줄간격(행간) */
    letter-spacing: -2px; /* 레터 스페이싱 :글자와 글자 사의 간격(자간) */
}
.w200 {
    padding: 100px 60px; /* 첫번째: 상•하, 두번째: 좌•우 */
}
.w200-01 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.main-sl-tittle {
    width: 100%; height: 700px;
    display: flex;
}
.m-s-t01 {
    width: 960px;
    border: 1px solid #000;
}
.ev-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 60px;
    padding-right: 60px;
    line-height: 0px;
}
.left {
    width: 60px; height: 5px;
    background-color: #000;
}
.ev-text {
    font-size: 72px;
}
.EX-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 60px;
    padding-right: 60px;
    line-height: 0px;
}
.right {
    width: 60px; height: 5px;
    background-color: #000;
}
.Ex-text {
    font-size: 72px;
}
.m-s-t02 {
    width: 960px;
    border: 1px solid #000;
}