body{margin: 0; padding: 0;}
a {
    /* inherit -> 상속 */
    color: inherit;

    /* 밑줄 */
    text-decoration: none;
}
button {
    background-color: transparent;
    padding: auto;
    /* none -> 없다 */
    border: none; outline: none;
}