header {
    height: 86px;
    background-color: #fff;
    border-bottom: 2px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    border-radius: 2px;
    display: flex;
    gap: 20px;
    padding: 64px;
}
.nav-box01 {
    width: 92px; height: 12px;
    border-radius: 2px;
    background-color: #CFCFCF;
}
.nav-box02 {
    width: 112px; height: 12px;
    border-radius: 2px;
    background-color: #CFCFCF;
}
.nav-box03 {
    width: 148px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box04 {
    width: 72px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box05 { 
    width: 88px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
h1 {
    width: 228px; height: 25px;
    border-radius: 2px;
    background-color: #A8A8A8;
}
.use-box {
    border-radius: 2px;
    display: flex;
    gap: 20px;
    padding: 64px;
}
.u-box01 {
    width: 68px; height: 12px;
    border-radius: 2px;
    background-color: #CFCFCF;
}
.u-box02 {
    width: 92px; height: 12px;
    border-radius: 2px;
    background-color: #CFCFCF;
}
.u-box03 {
    width: 58px; height: 12px;
    border-radius: 2px;
    background-color: #CFCFCF;
}
.u-box04 {
    width: 84px; height: 12px;
    border-radius: 2px;
    background-color: #CFCFCF;
}
.u-box05 {
    width: 36px; height: 12px;
    border-radius: 2px;
    background-color: #CFCFCF;
}
main {
    height: 2526px;
    padding: 64px;
    background-color: #fff;
    border-bottom: 2px solid #E3E3E3;
}
.sct-01, .sct-02, .sct-03, .sct-04 {
    background-color: #dddddd;
    border-bottom: 1px solid #000;
}
.sct-01 {
    display: flex; gap: 20px;
}
.sct01-left {
    width: 1100px; height: 610px;
    background-color: #D5D5D5;
}
.sct01-right {
    background-color: rgba;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sct01-rbox01 {
    background-color: #D5D5D5;
    flex-grow: 1;
}
.sct01-rbox02 {
    background-color: #D5D5D5;
    flex-grow: 1;
}
footer {
    height: 86px;
    background-color: #FAFAFA;
}